<h1 class="text-center" style="color: violet;">Create Account</h1>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div *ngIf="accountCreate" class="alert alert-success">
        Account Created Successfully
    </div>

    <form [formGroup]="postaccount" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
        <div class="card" style="width: 48rem;">
            <div class="form-group">
                <input class="form-control" formControlName="accountHolderName" type="text" id="accountHolderName" placeholder="Enter accountHolderName"/>
            </div>
            <div class="form-group">
                <input class="form-control" formControlName="balance" type="number" id="balance" placeholder="Enter balance"/>
            </div>

            <br>


            <div class="form-group">
                <input class="form-control" formControlName="mobileNo" type="number" id="mobileNo" placeholder="Enter mobileNo"/>
            </div>
            

            <br>

            <div class="form-group">
                <input class="form-control" formControlName="email" type="email" id="email" placeholder="Enter email"/>
            </div>



            <br>

            <div class="form-group">
                <input class="form-control" formControlName="dateofbirth" type="date" id="dateofbirth" placeholder="Enter BirthDate"/>
            </div>



            <br>

            
            <div class="form-group">
                <input class="form-control" formControlName="houseName" type="text" id="houseName" placeholder="Enter houseName"/>
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" formControlName="streetName" type="text" id="streetName" placeholder="Enter streetName"/>
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" formControlName="Area" type="text" id="Area" placeholder="Enter Area"/>
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" formControlName="City" type="text" id="City" placeholder="Enter City"/>
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" formControlName="District" type="text" id="District" placeholder="Enter District"/>
            </div>

            <br>

            <div class="form-group">
                <input class="form-control" formControlName="State" type="text" id="State" placeholder="Enter State"/>
            </div>

            <br>


            <div class="form-group">
                <input class="form-control" formControlName="Country" type="text" id="Country" placeholder="Enter Country"/>
            </div>

            <br>
            

            <div class="form-group">
                <input class="form-control" formControlName="pincode" type="number" id="pincode" placeholder="Enter pincode"/>
            </div>

            <br>

            

            <div class="form-group">
                <button class="form-control btn btn-success" type="submit" style="width: 100%;">Submit</button>
            </div>
        </div>
    </form>
</div>




